<div class="container">
    <div class="row">
        <div class="col-xs">
            <h3>I'm in the AppComponent!</h3>
            <hr>
            <app-servers></app-servers>
            <app-string-interpolation></app-string-interpolation>
            <app-property-binding></app-property-binding>
            <app-event-binding></app-event-binding>
            <app-two-way></app-two-way>
            <app-combine-databinding></app-combine-databinding>
            <app-databinding-assignment></app-databinding-assignment>
            <app-directives></app-directives>
            <app-attribute-directives></app-attribute-directives>
        </div>
    </div>
</div>